[collection categories]
handle = "Category"

[sitePicker]
==
<header class="relative wrapper {% if this.page.id == 'home' %}!bg-[#ffffff]{%else%}!bg-[#edf2fc]{% endif %} pt-1">
    <nav class="navbar navbar-expand-lg classic transparent navbar-light">
        <div class="container xl:flex-row lg:flex-row !flex-nowrap items-center">
            <div class="navbar-brand w-full">
                <a href="{{'home'|page}}" class="xl:text-[1.5rem] !text-[calc(1.275rem_+_0.3vw)] !mb-0 text-[#343f52]">
                    <img src="{{'assets/images/seeyouresto-logo.svg'|theme}}" alt="logo" style="width: 100px"
                         class="py-1">
                </a>
            </div>
            <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
                <div class="offcanvas-header xl:hidden lg:hidden flex items-center justify-between flex-row p-6">
                    <img src="{{'assets/images/seeyouresto-logo.svg'|theme}}" alt="logo" style="width: 100px"
                         class="py-1">
                    <button type="button"
                            class="btn-close btn-close-white mr-[-0.75rem] m-0 p-0 leading-none text-[#343f52] transition-all duration-[0.2s] ease-in-out border-0 motion-reduce:transition-none before:text-[1.05rem] before:content-['\ed3b'] before:w-[1.8rem] before:h-[1.8rem] before:leading-[1.8rem] before:shadow-none before:transition-[background] before:duration-[0.2s] before:ease-in-out before:flex before:justify-center before:items-center before:m-0 before:p-0 before:rounded-[100%] hover:no-underline bg-inherit before:bg-[rgba(255,255,255,.08)] before:font-Unicons hover:before:bg-[rgba(0,0,0,.11)] focus:outline-0"
                            data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body xl:!ml-auto lg:!ml-auto flex  flex-col !h-full">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link font-bold tracking-[-0.01rem] hover:!text-[#54a8c7] after:!text-[#54a8c7]"
                               href="{{'home'|page}}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-bold tracking-[-0.01rem] hover:!text-[#54a8c7] after:!text-[#54a8c7]"
                               href="#">{{ 'Voor wie'|_ }} ?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-bold tracking-[-0.01rem] hover:!text-[#54a8c7] after:!text-[#54a8c7]"
                               href="{{'advantages'|page}}">{{ 'Voordelen'|_ }}</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle  font-bold tracking-[-0.01rem] hover:!text-[#54a8c7] after:!text-[#54a8c7]"
                               href="#" data-bs-toggle="dropdown">{{ 'Onze oplossingen'|_ }}</a>
                            <ul class="dropdown-menu">
                                {% for category in categories %}
                                <li class="nav-item"><a class="dropdown-item hover:!text-[#54a8c7]"
                                                        href="{{'category-item'|page({'slug': category.slug})}}">{{ category.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item xl:hidden lg:hidden">
                            <a class="nav-link font-bold tracking-[-0.01rem] hover:!text-[#54a8c7] after:!text-[#54a8c7]"
                               href="{{'contact'|page}}">{{ 'Contact'|_ }}</a>
                        </li>
                    </ul>
                </div>
                <!-- /.offcanvas-body -->
            </div>
            <!-- /.navbar-collapse -->
            <div class="navbar-other lg:!ml-4 xl:!ml-4">
                <ul class="navbar-nav !flex-row !items-center !ml-auto">
                    <li class="nav-item hidden xl:block lg:block md:block">
                        <a href="{{'contact'|page}}"
                           class="btn btn-sm btn-aqua text-white !bg-[#54a8c7] border-[#54a8c7] hover:text-white hover:bg-[#54a8c7] hover:border-[#54a8c7] focus:shadow-[rgba(79,152,181,1)] active:text-white active:bg-[#54a8c7] active:border-[#54a8c7] disabled:text-white disabled:bg-[#54a8c7] disabled:border-[#54a8c7] !rounded-[50rem]">{{ 'Contact'|_ }}</a>
                    </li>
                    <li class="nav-item dropdown language-select uppercase group">
                        <select class="form-control bg-transparent" onchange="window.location.assign(this.value)">
                            {% for site in sitePicker.sites %}
                            <option value="{{ site.url }}" {{ this.site.code== site.code ?
                            'selected' }}>{{ site.code|upper }}</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li class="nav-item xl:hidden lg:hidden">
                        <button class="hamburger offcanvas-nav-btn"><span></span></button>
                    </li>
                </ul>
                <!-- /.navbar-nav -->
            </div>
            <!-- /.navbar-other -->
        </div>
        <!-- /.container -->
    </nav>
</header>
