<div class="container">
    <div class="flex flex-wrap mx-[-15px] mt-[-30px] xl:mt-0 lg:mt-0">
        <div class="card !bg-[#eff7fa] !rounded-[0.8rem w-full">
            <div class="card-body md:!p-10 lg:!p-10 xl:!p-12 p-[40px]">
                <div class="flex flex-wrap mx-[-15px] xl:mx-[-35px] lg:mx-[-20px] mt-[-50px]">
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] max-w-full mt-[50px]">
                        <h3 class="xl:text-[2rem] text-[calc(1.325rem_+_0.9vw)] !leading-[1.2] tracking-normal mb-4 [word-spacing:normal!important]">
                            Ontdek de kracht van SeeYouResto</h3>
                        <p class="lead text-[1.05rem] !leading-[1.6] font-medium !mb-0">Transformeer uw
                            horecaonderneming vandaag nog.</p>
                    </div>
                    <!--/column -->
                    <div
                        class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] xl:px-[35px] lg:px-[20px] px-[15px] max-w-full mt-[50px] flex items-center justify-center">
                        <a
                            href="{{'contact'|page}}"
                            class="btn btn-lg btn-outline-aqua !rounded-[50rem] !text-[#54a8c7] !border-[#54a8c7] hover:!bg-[#54a8c7] hover:!text-white">Vraag nu een gratis offerte aan</a>
                    </div>
                    <!--/column -->
                </div>
                <!--/.row -->
            </div>
            <!--/.card-body -->
        </div>
    </div>
</div>
