[collection references]
handle = "References"
==
{% if(references.count()) %}
<div class="xl:!px-5 lg:!px-5 !mb-[4.5rem] xl:!mb-[9rem] lg:!mb-[9rem] md:!mb-[9rem]">
    <div class="flex flex-wrap mx-0 md:mx-[-20px] lg:mx-[-20px] xl:mx-[-35px] mt-[-40px] items-center">
        {% for reference in references %}
        <div class="w-4/12 xl:w-2/12 lg:w-2/12 md:w-2/12 flex-[0_0_auto] xl:px-[35px] lg:px-[20px] md:px-[20px] mt-[40px] max-w-full">
            <figure class="px-5 md:!px-0 lg:!px-2 xl:!px-3 xxl:!px-4"><img src="{{ reference.image.path|resize(300) }}" alt="image"></figure>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
