<div class="container">
    <div class="flex flex-wrap mx-[-15px]">
        <div class="lg:w-9/12 xl:w-8/12 xxl:w-7/12 w-full flex-[0_0_auto] px-[15px] max-w-full">
            <h2
                class="text-[0.8rem] uppercase inline-flex !leading-[1.35] text-line relative align-top pl-[1.4rem] tracking-[0.02rem] before:content-[''] before:absolute before:inline-block before:translate-y-[-60%] before:w-3 before:h-[0.05rem] before:left-0 before:top-2/4 before:bg-[#54a8c7]  text-[#54a8c7]  !mb-3">
                 Onze oplossingen</h2>
            <h3 class="text-[calc(1.315rem_+_0.78vw)] font-bold xl:text-[1.9rem] !leading-[1.25] mb-9">Efficiënte bestellingen en nauwkeurige foodcostberekening.</h3>
        </div>
        <!-- /column -->
    </div>
    <!-- /.row -->
    <div
        class="flex flex-wrap mx-[-15px] xl:mx-[-20px] lg:mx-[-20px] md:mx-[-20px] mt-[-40px] !mb-[4.5rem] xl:!mb-[8rem] lg:!mb-[8rem] md:!mb-[8rem]">
        <div
            class="md:w-6/12 lg:w-3/12 xl:w-3/12 w-full flex-[0_0_auto] px-[15px] xl:px-[20px] lg:px-[20px] md:px-[20px] mt-[40px] max-w-full">
            <div class="icon btn btn-block btn-lg btn-soft-aqua pointer-events-none !mb-6"> <i
                class="uil uil-shield-exclamation before:content-['\ecb3']"></i> </div>
            <h4 class="!text-[1rem] !leading-[1.45]">Inventarisbeheer</h4>
            <p class="!mb-3">Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget
                metus. Cras justo.</p>
            <a href="#" class="more hover text-[#54a8c7] focus:text-[#54a8c7] hover:text-[#54a8c7]">Learn More</a>
        </div>
        <!--/column -->
        <div
            class="md:w-6/12 lg:w-3/12 xl:w-3/12 w-full flex-[0_0_auto] px-[15px] xl:px-[20px] lg:px-[20px] md:px-[20px] mt-[40px] max-w-full">
            <div class="icon btn btn-block btn-lg btn-soft-aqua pointer-events-none !mb-6"> <i
                class="uil uil-shield-exclamation before:content-['\ecb3']"></i> </div>
            <h4 class="!text-[1rem] !leading-[1.45]">Bestellingen</h4>
            <p class="!mb-3">Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget
                metus. Cras justo.</p>
            <a href="#" class="more hover text-[#54a8c7] focus:text-[#54a8c7] hover:text-[#54a8c7]">Learn More</a>
        </div>
        <!--/column -->
        <div
            class="md:w-6/12 lg:w-3/12 xl:w-3/12 w-full flex-[0_0_auto] px-[15px] xl:px-[20px] lg:px-[20px] md:px-[20px] mt-[40px] max-w-full">
            <div class="icon btn btn-block btn-lg btn-soft-aqua pointer-events-none !mb-6"> <i
                class="uil uil-laptop-cloud before:content-['\ebb2']"></i> </div>
            <h4 class="!text-[1rem] !leading-[1.45]">Foodcost</h4>
            <p class="!mb-3">Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget
                metus. Cras justo.</p>
            <a href="#" class="more hover text-[#54a8c7] focus:text-[#54a8c7] hover:text-[#54a8c7]">Learn More</a>
        </div>
        <!--/column -->
        <div
            class="md:w-6/12 lg:w-3/12 xl:w-3/12 w-full flex-[0_0_auto] px-[15px] xl:px-[20px] lg:px-[20px] md:px-[20px] mt-[40px] max-w-full">
            <div class="icon btn btn-block btn-lg btn-soft-aqua pointer-events-none !mb-6"> <i
                class="uil uil-phone-volume before:content-['\ec50']"></i> </div>
            <h4 class="!text-[1rem] !leading-[1.45]">HACCP</h4>
            <p class="!mb-3">Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget
                metus. Cras justo.</p>
            <a href="#" class="more hover text-[#54a8c7] focus:text-[#54a8c7] hover:text-[#54a8c7]">Learn More</a>
        </div>
        <!--/column -->
    </div>
    <!--/.row -->
</div>
